<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST PAGE</title>

    <!-- jquery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.37/dist/web3.min.js"></script>
	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
</head>

<body>
    <div>
        
	</div>
	<div>
		<input type="button" id="btn-get-token" value="토큰얻기"/>
		<input type="button" id="btn-balance" value="계좌잔액"/>
	</div>
	<div>
		<input type="button" id="btn-play-dice" value="주사위"/>
		<input type="button" id="btn-play-diceward" value="주사위 결과"/>
	</div>
	<div>
		<input type="button" id="btn-play-rps" value="가위바위보"/>
		<input type="button" id="btn-play-rpsward" value="가위바위보 결과"/>
	</div>
	<div>
		<input type="button" id="btn-play-oddeven" value="홀짝"/>
		<input type="button" id="btn-play-oddevenward" value="홀짝 결과"/>
	</div>
	
	
	
	
	
	<input type="hidden" name="address" class="form-control input_user" id="address" value="<%= Address %>">


	<script src="/js/test.js"></script>
</body>

</html>