<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>tt</title>
    
        <!-- Theme CSS -->
        <link href="/css/tt.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
            integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    
    
        <!-- Custom fonts for this theme -->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
            type="text/css">
        <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet" type="text/css">
    
    </head>
<body>
    <div class="container">
        <div id="rockgame_module_view">
            <div></div></br>
            <h2 class="gametitle">가위바위보 게임</h2>
                <form id="insert_form" name="insert_form" action="./" method="post" onsubmit="return rockgame_submit_check()">
                    <input type="hidden" name="error_return_url" value="/rockgame" />
                    <input type="hidden" name="mid" value="rockgame" />
                    <input type="hidden" name="vid" value="" />
                    <input type="hidden" name="ruleset" value="insert_game" />
                    <input type="hidden" name="act" value="procRockgameUserView" />
                    <input type="hidden" name="game_srl" value="" />
                    <div class="rockgame">
                        <div class="left_bar">
                            <div class="game_result">
                                <div class="com_select">
                                    <div class="com_name"><p>인공지능</p></div>
                                    <div class="rps_box"></div>
                                </div>
                                <div class="fight"><img src="/public/img/portfolio/versus.png" style="vertical-align:baseline; margin-bottom:35px;" /></div>
                                <div class="user_select">
                                    <div class="user_name"><p>altmcn</p></div>
                                    <div class="rps_box"></div>
                                </div>
                            </div>
                            <div class="game_select">
                                <input type="hidden" name="rsp_slect" value="" />
                                <div class="rps_box">
                                    <input class="rps_img" type="image" id="rps_rock" src="/public/img/portfolio/rock.gif" onclick="this.form.rsp_slect.value='rock'" />
                                </div>
                                <div class="rps_box">
                                    <input class="rps_img" type="image" id="rps_scissors" src="/public/img/portfolio/scissors.gif" onclick="this.form.rsp_slect.value='scissors'" />
                                </div>
                                <div class="rps_box">
                                    <input class="rps_img" type="image" id="rps_paper" src="/public/img/portfolio/paper.gif" onclick="this.form.rsp_slect.value='paper'" />
                                </div>
                            </div>
                    </div>
                    <div class="rockgame_bottom">
                        <p>참가point를 입력한 후 가위 바위 보 중에 내고 싶은것을 선택합니다</p>
                        <p>승리할 경우 참가point 만큼 획득합니다 // 패배할 경우 참가point 만큼 소모합니다</p>
                    </div>
                </form>
            </div>
                <script type="text/javascript">
    //폼을 중복전송 방지위해 전송후 가위바위보 버튼을 막음 // 엔터로 전송못하게 함
    function rockgame_submit_check(){
        document.getElementById('rps_rock').disabled=true;
        document.getElementById('rps_paper').disabled=true;
        document.getElementById('rps_scissors').disabled=true;
        return true;
        
    }
    </script> </div>
</body>
</html>