body {
    text-align: center;
}

.dice {
    max-width: 15%;
    height: auto;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.view-result {
    max-width: 15%;
    height: auto;
}

.token-console {
    max-width: 15%;
    height: auto;
    margin: 0 10;
}

#view-space {
    /* margin: 0 auto; */
}

#dice-space {
    padding-top: 70px;
    padding-bottom: 30px;
}

#img-versus {
    max-width: 80%;
    height: auto;
    padding-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}

#img-pending {
    visibility: hidden;
    max-width: 15%;
    height: auto;
}