body {
    text-align: center;
    border: 3px solid black;
    width: 1000px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
}
header {
    text-align: center;
    height: 100px;
    padding-top: 40px;
}
section {
    text-align: center;
    height: 250px;
}
footer {
    padding-top: 110px;
    text-align: center;
}
.name {
    display: inline-block;
    
}
.rps_box {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
   
}
.game_result {
    display: inline-block;
    width: 600px;
    height: 100px;  
}
.game_select {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 30px;
}
.result {
    float: left;
    width: 24%;
    clear: right;

}
#com_name {
    padding-right: 150px; 
}
#player_name {
    padding-left: 150px;
}
#com_result {
    border: 3px solid black;
    width: 116px;
    height: 113px;
    margin-left: 260px;
    margin-top: -50px;    
}
#player_result {
    border: 3px solid black;
    width: 116px;
    height: 113px;
    margin-right:200px;
    margin-top: -50px;
    margin-bottom: 50px;
}
#versus {
    padding: -50px 50px 0px 50px;
    margin-top: -40px;
}