
.contain {
  width: 1300px;
  height: 800px;
  margin-top: 100px;
  margin-left: 25px;
  border-radius: 15px;
	background-color: #e4bfa7;
}
.gametitle {
  margin: 10px;
}
.rockgame {
  width : 800px;
  height: 500px;
  margin-left: 15px;
  background-color: #faf6f6;
}
.left_bar {
  border-color: #200707;
  height : 400px;
}
.com_select {
  width : 150px;
  height: 150px;
}
.game_result {
  width : 150px;
  height : 150px;
}
.rps_box {
  width : 120px;
  height: 120px;
  background-color: #94bdeb;
}
.fight {
  width : 120px;
  height: 120px;
  background-color: #94ebb1;
}